name = "zwy888"
main = "src/worker.js"
compatibility_date = "2026-01-28"

# --- 静态资源 (只读 themes) ---
# 这样设置后，用户只能访问 themes 下的文件
# 根目录下的 admin/ 代码对于浏览器是"隐形"的
[assets]
directory = "./themes"
binding = "ASSETS"

# --- 数据库等配置保持不变 ---
[[d1_databases]]
binding = "DB"
database_name = "zwy888"
database_id = "194ecc7d-9b50-44b8-b4f9-2873913ade0c"

[[kv_namespaces]]
binding = "KV"
id = "690d2289da634615bcf17c078c23d475"

[[r2_buckets]]
binding = "IMG_BUCKET"
bucket_name = "zwy888"

[vars]
JWT_SECRET = "umi88_secure_password_key_2026"
