name = "zwy888"
main = "src/worker.js"
compatibility_date = "2026-01-30"

# --- 路由配置 (Route) ---
# 注意：开启 custom_domain = true 时，不要加 /*
[[routes]]
pattern = "umi88.cc"
custom_domain = true

[[routes]]
pattern = "www.umi88.cc"
custom_domain = true

# --- 1. 数据库绑定 (D1) ---
[[d1_databases]]
binding = "DB"
database_name = "zwy888"
database_id = "194ecc7d-9b50-44b8-b4f9-2873913ade0c"

# --- 2. 缓存绑定 (KV) ---
[[kv_namespaces]]
binding = "KV"
id = "690d2289da634615bcf17c078c23d475"

# --- 3. 图片存储绑定 (R2) ---
[[r2_buckets]]
binding = "IMG_BUCKET"
bucket_name = "zwy888"

# --- 4. 环境变量 (公开) ---
[vars]
R2_ACCOUNT_ID = "62581a5acbb0f2b76a2c28dd4169f14c"
ALLOWED_EXTENSIONS = "jpg,jpeg,png,gif,webp"
